.story-container {
    display: flex;
    align-items: center;
}

.story-container p {
    margin-left: 5.8rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 1.12px;
}

.story-1 img {
    margin-right: 5.18rem;
    float: right;
}

.story-2 img {
    margin-left: 3rem;
    float: left;
}

.story-2 p {
    margin-right: 2rem;
    order: 2;
}

.story-3 img {
    margin-right: 5.18rem;
    float: right;
}


.benifits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin:auto 5rem;
}

.benifits .card {
    width: 18rem;
    height: 23rem;
    margin: 0 3rem 3rem;
    background-color: #D9D9D9;
}

.gallery-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    place-items: center;
}

.gallery-cards {
    margin: auto 0.5rem;
}

.gallery-cards img{
    transition: transform 0.3s;
}

.gallery-cards img:hover{
    cursor: pointer;
    transform: scale(1.02);
}

@media screen and (max-width: 450px) {
    .story-container {
        display: block;
        text-align: center;
    }

    .story-container img{
        margin: 0;
        float: none;
        width: 85%;
    }

    .story-container p{
        margin: 0;
        padding: 0 2rem;
        text-align: justify;
    }

    .benifits{
        margin: 0;
    }

    .benifits .card{
        margin: 1rem auto;
    }
}