.our-story {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 100%;
}

.story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem;
}

.story-container img{
    margin: auto;
}

.story-container p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 1.12px;
}

.story-1,
.story-3 img {
    float: right;
}

.story-2 img {
    float: left;
}

.story-2 p {
    order: 2;
}

.benifits {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
    justify-items: center;
    margin-bottom: 2rem;
}

.benifits .card {
    width: 20rem;
    height: 23rem;
    background-color: var(--white-color);
}

.gallery-cards {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.gallery-cards img {
    width: 100%;
    transition: transform 0.3s;
    border-radius: 10px;
}

.gallery-cards img:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 32px 75px rgba(85, 83, 85, 0.2);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.full-img img{
    width: 30%;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: var(--white-color);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .story-container {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .story-container img {
        float: none;
        width: 85%;
    }

    .story-2 img{
        order: 2;
    }

    .story-container p {
        padding: 0 2rem;
        text-align: justify;
    }
}