.contact-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.left-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-contact-items {
    display: flex;
    padding: 1rem;
}

.left-contact-items p {
    font-family: 'Inter', Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.left-contact img {
    width: 2rem;
    height: 2rem;
    padding-right: 2rem;
}

iframe {
    border-radius: 20px;
    transition: transform 0.3s;
}

iframe:hover{
    transform: scale(1.02);
}

@media screen and (max-width: 800px) {
    .contact-container{
        display: block;
        margin: 0;
    }

    .left-contact-items{
        margin: 0;
        padding: 1rem;
    }

    .right-contact{
        text-align: center;
    }

    iframe{
        width: 80%;
    }

    .left-contact-items p{
        margin: 0 1rem;   
    }
}