.contact-container {
    margin-left: 1rem;
    margin-bottom:2rem ;
    display: flex;
    justify-content: space-around;
}

.left-contact-items {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.left-contact-items p {
    margin: auto 3rem;
    font-family: 'Inter', Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.left-contact img {
    width: 2rem;
    height: 2rem;
}

iframe {
    border-radius: 20px;
    transition: transform 0.3s;
}

iframe:hover{
    transform: scale(1.02);
}