@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

#contact .title {
    text-align: left;
    margin-left: 3rem;
}

.upper-container {
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
}

.left-contact-items {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.left-contact-items p {
    margin: auto 3rem;
    font-family: 'Inter', Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.left-contact img {
    width: 2rem;
    height: 2rem;
}

iframe {
    border-radius: 20px;
}

.lower-container {
    background-image: url('../images/contact.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding-top: 5.25rem;
}

.social-links img {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    cursor: pointer;
}

.contact-title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li {
    list-style: none;
    margin: 1rem 0;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.address p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}