#home .content {
    margin: 5rem 0;
    display: flex;
}

#home .left-container {
    position: relative;
    flex-basis: 50%;
    margin: auto 10rem;
    font-family: 'Inter', Roboto;
    line-height: normal;
}

#home .left-container img {
    width: 6.875rem;
    height: 4rem;
    position: absolute;
    top: -15%;
}

#home .right-container {
    flex-basis: 50%;
}

#home .left-container h1 {
    text-transform: uppercase;
    color: #5E8BFF;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0;
}

#home .left-container h2,
#home .left-container h4,
.buy-now {
    font-style: normal;
    font-weight: 800;
}

#home .left-container h2 {
    font-size: 1.875rem;
}

#home .left-container h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.buy-now {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
}


@media screen and (max-width: 620px) {
    #home h1 img{
        display: none;
    }

    #home .content {
        display: block;
        margin-bottom: 0;
    }

    #home .left-container {
        margin: 1rem;
        text-align: center;
    }

    #home .right-container img{
        width: 90%;
    }
    #home .right-container{
        text-align: center;
    }

}