#products .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  place-items: center;
}

.card-container {
  padding: 0 2rem;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  width: 90%;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  text-align: center;
  font-family: Times New Roman;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card img {
  min-width: 6rem;
  display: block;
  padding-top:2rem;
  margin: auto;
}

img.product-2{
  min-width: 0;
  width: 5rem;
}

.card-content {
  font-size: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  #products > div > div > div> div > p,h1{
  margin-bottom: 1.3rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}