#products .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  place-items: center;
}

.card-container {
  padding: 0 2rem;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  width: 90%;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card img {
  width: 3rem;
  display: block;
  margin: 3.43rem auto 0 auto;
}

.card-content {
  font-size: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #products .content .card-content h1, */
/* p { */
  #products > div > div > div> div > p,h1{
  margin-bottom: 1.3rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}