.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--pink-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.brand {
    margin-left: 2rem;
    color: var(--black-color);
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.navigation-items {
    display: flex;
    margin-right: 2rem;
}

.navigation-items li {
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;

    color: var(--black-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navigation-items .buy-now {
    padding: 0.5rem 1rem;
}

section {
    height: auto;
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 450px) {
    .header{
        display: block;
        padding: 0;
    }

    .brand{
        margin: 0;
        text-align: center;
    }

    .navigation-items{
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .navigation-items li{
        padding: 0.5rem;
    }
}