html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(to right, #D5DDD6 , #b0d7b4);
}

:root {
    --background-color:#D5DDD6;
    --black-color: #000000;
    --white-color: #FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
}

.content {
    margin-top: 5rem;
}

.buy-now {
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    border-radius: 15px;
}

.content h1.title {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 2rem;
}