.content h1.title {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.card {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  width: 85%;
  height: 17rem;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card img {
  width: 3rem;
  display: block;
  margin: 0 auto;
  padding: 1.5rem;
}

.card-content {
  font-size: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,p {
  margin-bottom: 0.5rem;
}

.price{
  font-weight: 700;
}